
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}抽奖{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}

<h1 align="center">{{ draw.Draw_name }}</h1>
<br>
<h3 align="center">奖品：{{ draw.Prize }}</h3>
<br>
<h3 align="center">开奖时间：{{ draw.DDL }}</h3>

<br>

{% if is_root %}
<a href="{{ draw.get_absolute_modify_url }}">开奖！！</a>
{% endif %}

{% if added %}
<h4>您已经参与了抽奖！！</h4>
{% else %}
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form action="{{ draw.get_absolute_url }}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary pull-right">我要参与！</button>
        </form>
    </div>
</div>
{% endif %}

<h3>已参与的用户：</h3><br>
{% for part in part_list %}
<h5> {{ part.name }} </h5>
{% endfor %}

{% endblock %}