body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:100px;
  width:130px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:0px;
  width:1010px;
  height:50px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1016px;
  height:56px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:55px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:111px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:222px;
  top:0px;
  width:111px;
  height:50px;
  color:#FF3300;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:333px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:444px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:555px;
  top:0px;
  width:133px;
  height:50px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:129px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:688px;
  top:0px;
  width:322px;
  height:50px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:318px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:50px;
  width:160px;
  height:949px;
}
#u20_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:166px;
  height:955px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:954px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:40px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:100px;
  width:160px;
  height:39px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:139px;
  width:160px;
  height:40px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:179px;
  width:160px;
  height:40px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:219px;
  width:160px;
  height:40px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:259px;
  width:160px;
  height:40px;
  color:#FF3300;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:299px;
  width:160px;
  height:650px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:650px;
}
#u37 {
  position:absolute;
  left:2px;
  top:317px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:160px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:200px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:240px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:280px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:320px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:120px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:180px;
  top:90px;
  width:920px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u51 {
  position:absolute;
  left:210px;
  top:62px;
  width:53px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:180px;
  top:60px;
  width:20px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:410px;
  top:124px;
  width:53px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:490px;
  top:124px;
  width:100px;
  height:16px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:410px;
  top:160px;
  width:53px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:490px;
  top:160px;
  width:100px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:410px;
  top:200px;
  width:53px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:490px;
  top:200px;
  width:100px;
  height:16px;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:190px;
  top:260px;
  width:910px;
  height:50px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:493px;
  top:270px;
  width:85px;
  height:30px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
