body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1118px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:100px;
  width:130px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:0px;
  width:910px;
  height:50px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:916px;
  height:56px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:55px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:111px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:222px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:333px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:444px;
  top:0px;
  width:111px;
  height:50px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:555px;
  top:0px;
  width:133px;
  height:50px;
  color:#FF0000;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:129px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:688px;
  top:0px;
  width:222px;
  height:50px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:50px;
  width:160px;
  height:526px;
}
#u20_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:166px;
  height:532px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:531px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:100px;
  width:160px;
  height:39px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:139px;
  width:160px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:179px;
  width:160px;
  height:40px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:219px;
  width:160px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:259px;
  width:160px;
  height:40px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:299px;
  width:160px;
  height:227px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:227px;
}
#u37 {
  position:absolute;
  left:2px;
  top:106px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:160px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:200px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:240px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:280px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:120px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:180px;
  top:90px;
  width:810px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u49 {
  position:absolute;
  left:210px;
  top:62px;
  width:53px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:180px;
  top:60px;
  width:20px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:190px;
  top:115px;
  width:20px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:220px;
  top:119px;
  width:131px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:191px;
  top:412px;
  width:20px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:221px;
  top:416px;
  width:112px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:185px;
  top:162px;
  width:800px;
  height:33px;
}
#u61_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:39px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:38px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:164px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:299px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:434px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:569px;
  top:0px;
  width:231px;
  height:33px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:33px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:185px;
  top:193px;
  width:800px;
  height:23px;
}
#u73_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:29px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:164px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:299px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:434px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:569px;
  top:0px;
  width:231px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:183px;
  top:145px;
  width:810px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u86 {
  position:absolute;
  left:185px;
  top:440px;
  width:810px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u87 {
  position:absolute;
  left:183px;
  top:216px;
  width:800px;
  height:33px;
}
#u87_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:39px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:38px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:164px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:299px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:434px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:569px;
  top:0px;
  width:231px;
  height:33px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:33px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:183px;
  top:247px;
  width:800px;
  height:23px;
}
#u99_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:29px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:28px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:164px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:299px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:434px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:569px;
  top:0px;
  width:231px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:183px;
  top:269px;
  width:800px;
  height:33px;
}
#u111_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:39px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:38px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:164px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:299px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:434px;
  top:0px;
  width:135px;
  height:33px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:569px;
  top:0px;
  width:231px;
  height:33px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:33px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:183px;
  top:300px;
  width:800px;
  height:23px;
}
#u123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:29px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:28px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:164px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:299px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:434px;
  top:0px;
  width:135px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:569px;
  top:0px;
  width:231px;
  height:23px;
  color:#FF0000;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:690px;
  top:149px;
  width:428px;
  height:207px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:207px;
}
#u136 {
  position:absolute;
  left:2px;
  top:96px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:190px;
  top:112px;
  width:24px;
  height:27px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u138 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:187px;
  top:410px;
  width:24px;
  height:27px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u140 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
